@model IEnumerable<AlphaOne.Models.Commodity>

@{
    ViewBag.Title = "Index";
}

<h2>Oil Prices
    @*refresh content every 30 seconds*@
    <head runat="server">
        <title>Meta Tags Example</title>
        <meta http-equiv="Refresh" content="30" />
    </head>
    </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Reverse().Take(1)) {
       <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
   
}

</table>
