@model IEnumerable<AlphaOne.Models.Commodity>

@{
    ViewBag.Title = "Index";
}


     <table class="table", id="commodities-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            
        </tr>

        @foreach (var item in Model.Reverse().Take(3).Where(x => x.Type == "Oil" || x.Type == "Corn"))
        {
            <tr>
                <td>
                    @if (Html.DisplayFor(modelItem => item.Type).ToString().
            Equals("Oil"))
                    {
                        <a href="Details"><abbr title = "per barrel">Oils</abbr></a> }
                    @if (Html.DisplayFor(modelItem => item.Type).ToString().
            Equals("Corn"))
                    {
                        <a href="Details"><abbr title="per bushel">Corn</abbr></a> }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>

        }

    </table>
<table class="table" , id="money-table">
    <tr>
        <th>
            Currency
        </th>
        <th>
            Currency to USD
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

    </tr>

    @foreach (var item in Model.Reverse().Take(1).Where(x => x.Type == "Rupee"))
    {
        <tr>
            <td>
                @if (Html.DisplayFor(modelItem => item.Type).ToString().
            Equals("Rupee"))
                {
                    <a href="Details">Rupee</a> }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>

    }

</table>